@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class="row">
        <div class="col-6">
            List of categories
        </div>
        <div class="col-6">
            <a asp-action="Create" asp-controller="Category">Create new category</a>
        </div>
    </div>
</div>

<table class="table table-bordered m-3" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td role="group">
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" class="p-2"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>